@import "../../styles/variables.scss";

.page404 {
  background-color: $main-bg;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
    width: 30%;
  }
  .back {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(
      90deg,
      rgb(63, 94, 251) 0%,
      rgb(252, 70, 107) 100%
    );
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
  }
  .back:hover {
    background: linear-gradient(
      90deg,
      rgb(252, 70, 107) 0%,
      rgb(63, 94, 251) 100%
    );
  }
}
